{
    Format:
    =======
    "profileId": {
        "src": "/path/to/scss/files"
        "dest": "/path/to/css/files"
    }

    Example:
    ========
    "client": {
        "src": "/tao/package-tao/clientTheme/views/scss",
        "dest": "/tao/package-tao/clientTheme/views/css"
    }
}

