////
/// TAO CSS SDK
/// Color definitions, all platform themes
/// Note: if a value is an empty string ('') no change will occur
/// @group Platform Colors
////

@import './varieties';
@import '../../../../_common/mixins';

/// Backgrounds can be either a single color or a list with values for a gradient.
/// Gradient format: ((color:#000[, position:0%])[,(...)])

$colorScheme: (
	mainBarBg:      "",
	mainBarText:    "",
  menuActiveBg:   "",
  menuActiveText: "",
  loadingBar:     "",
  actionBarBg:    "",
  footerBg:       "",
  footerText:     ""
);

/// header
$headerBg: map-get($colorScheme, 'mainBarBg');
$headerText: map-get($colorScheme, 'mainBarText');

/// footer
$footerBg: map-get($colorScheme, 'footerBg');
$footerText: map-get($colorScheme, 'footerText');

/// main menu, hover etc. will be computed according to the formulas in _varieties.scss
$menuActiveBg: map-get($colorScheme, 'menuActiveBg');
$menuActiveText: map-get($colorScheme, 'menuActiveText');

/// action bar
$actionBarBg: map-get($colorScheme, 'actionBarBg');
$actionBarText: map-get($colorScheme, 'mainBarBg');

/// tabs
$activeTabBg: map-get($colorScheme, 'actionBarBg');
$activeTabText: map-get($colorScheme, 'mainBarBg');

/// loadingBar
$loadingBar: map-get($colorScheme, 'loadingBar');
