////
/// TAO CSS SDK
/// Color definitions, all platform themes
/// Note: if a value is an empty string ('') no change will occur
/// @group Platform Colors
////

@import './varieties';
@import '../../../../_common/mixins';

/// Backgrounds can be either a single color or a list with values for a gradient.
/// Gradient format: ((color:#000[, position:0%])[,(...)])

/// use these under the assumption that header and footer have identical color schemes...
$mainBarBg: '';
$mainBarText: '';

/// ...otherwise set custom values for the header here...
$headerBg: $mainBarBg;
$headerText: $mainBarText;

/// ...and for the footer here
$footerBg: $mainBarBg;
$footerText: $mainBarText;


/// main menu, hover etc. will be computed according to the formulas in _varieties.scss
$menuActiveBg: '';
$menuActiveText: $headerText;


/// action bar
$actionBarBg: $menuActiveBg;
$actionBarText: $menuActiveText;

/// tabs
$activeTabBg: $actionBarBg;
$activeTabText: $actionBarText;


/// loading bar
$loadingBar: '';
