////
/// TAO CSS SDK
/// Generic platform theme
/// @group Platform themes
////

html {
    body {

        /// optional custom loading bar
        @include custom-loading-bar($loadingBar);

        /// header/footer colors
        @include header-footer-color-scheme($headerBg, $headerText, $footerBg, $footerText);

        /// navigation
        @include navigation($menuActiveBg, $menuActiveText, $headerBg);

        /// action bar
        @include action-bar($actionBarBg, $actionBarText);

        /// tabs
        @include active-tab($activeTabBg, $activeTabText);

        /// everything else

        /// height of logo + margin must always be 64px to avoid jump effects
        #tao-main-logo {
        }

        // scroll fix in iFrame for iOS
        #qti-content {
            -webkit-overflow-scrolling: touch;
        }

        .dark-bar {
            nav {
                li {
                    text-shadow: none;
                        & > a, & >.a {
                            color: map-get($colorScheme, 'mainBarText')  !important;
                        }
                    ul {
                        &.menu-dropdown {
                            box-shadow: 1px 1px 1px 0 rgba(0,0,0,.25);
                            li {
                                &.active, &:hover {
                                    a, .a {
                                        color: map-get($colorScheme, 'menuActiveText') !important;
                                    }
                                }
                            }
                            a, .a {
                                color: map-get($colorScheme, 'mainBarText')  !important;
                            }
                        }
                    }
                    &:hover {
                        color: map-get($colorScheme, 'menuActiveText');
                        background: none !important;
                        a, .a {
                            color: map-get($colorScheme, 'menuActiveText') !important;
                            &:hover {
                                transition: none;
                                background: colorVariation(map-get($colorScheme, 'menuActiveBg'), 'menu', 'hover-bg');
                            }
                        }
                    }
                }
            }
        }
    }
}

/// Media queries also need to be done outside the html scope.
/// @see ./inc/mediaqueries/template.scss
@import './inc/mediaqueries/max-width-1024';
