////
/// TAO CSS SDK
/// Color varieties current item theme
/// @group Item Colors - Varieties
/// @see ../../../_common/inc/colors/_varieties.scss for reference
////

/// Formulas to compute color variations
/// - fn: any custom, build-in or CSS-function to convert base color
/// - args: list of arguments to pass to above function
/// - () means no transformation
/// $themeColorVarieties overrides rules from ../../../_common/inc/colors/_varieties.scss:$colorVarieties
$themeColorVarieties: (

    feedback: (
        border: (fn: whiten, args: (.2)),
        background: (fn: whiten, args: (.9)),
        icon: ()
    ),
);


