////
/// TAO CSS SDK
/// Color definitions all item themes
/// @group Item Colors - Tables
////

$tblHeading: $textColor;
$tblHeadingBg: $transBlackBg;
$tblBorder: $borderColor;
$tblRowEven: white;
$tblRowOdd: #eee;
